<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.2/assets/images/image.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      E-BUDGET-PLAN
    </a>
    <% if root_path != request.path %>
      <%= link_to root_path do %>
        <button class='btn' style='width: 70px;'>
          <%= image_tag 'arrow.svg', class: "navbar-brand"  %>
        </button>
      <% end %>    
    <% end %>
    
    
    <%# <a class="navbar-brand" href="#"></a> %>
    
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-light" %>
    <% end %>
    
  </div>
</nav>


<%# <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <% if root_path != request.path %>
      <%# <%= link_to root_path do %>
       